<div class="alllist-header">
  <h1>{{title}}</h1>
</div>
<div class="list">
  <md-card>
    <div class="query-container">
      <div class="box">
        <form [formGroup]="searchForm">
          <div class="inner-list">
            <div class="condition">
              <small>
                <button md-raised-button  (click)="table.rowDetail.expandAllRows()">展开全部</button> |
                <button md-raised-button (click)="table.rowDetail.collapseAllRows()">收起全部</button>
              </small>
            </div>
            <div class="condition">
              <md-select class="md-select" color="primary" (change)="onOrginChange()" placeholder="来源" formControlName="orgin">
                <md-option *ngFor="let orgin of orgins" [value]="orgin.value">
                  {{orgin.viewValue}}
                </md-option>
              </md-select>
            </div>
            <div class="condition" *ngIf="isAppShow">
              <md-select class="md-select" color="primary" [(ngModel)]="appSelectedValue" placeholder="应用" formControlName="app">
                <md-option *ngFor="let app of apps" [value]="app.value">
                  {{app.viewValue}}
                </md-option>
              </md-select>
            </div>
            <!--暂时去掉-->
            <div *ngIf="false" class="condition">
              <md-input-container class="input-full-width">
                <input mdInput placeholder="关键字" formControlName="keyword">
              </md-input-container>
            </div>
            <div class="condition">
              <button md-raised-button md-no-ink (click)="search()" color='primary' class="md-primary">查询</button>
            </div>
            <div class="condition">
              <button md-raised-button md-no-ink (click)="refreshRedmine()" color='primary' class="md-primary">刷新redmine状态</button>
            </div>
            <md-spinner *ngIf="spinnerShow" style="width: 24px;height: 24px;"></md-spinner>
          </div>
        </form>
      </div>
    </div>
  </md-card>
  <div class="datatable">
    <ngx-datatable #myTable class="material expandable" [columnMode]="'force'" [loadingIndicator]="loadingIndicator" [headerHeight]="50"
      [footerHeight]="0" [rowHeight]="60" [rows]="complaintsDisplay">
      <!-- Row Detail Template -->
      <ngx-datatable-row-detail [rowHeight]="150" #myDetailRow (toggle)="onDetailToggle($event)">
        <template let-row="row" ngx-datatable-row-detail-template>
          <div style="padding-left:35px;">
            <div><strong>详细信息</strong></div>
            <div *ngIf="row.raw?.content?.rewTitle">主题：{{row.raw?.content?.rewTitle}}</div>
            <div *ngIf="row.raw?.content?.rewContent">原文：{{row.raw?.content?.rewContent}}</div>
            <div *ngIf="row.raw?.content?.tranContent">英文翻译：{{row.raw?.content?.tranContent}}</div>
            <div *ngIf="row.raw?.content?.tranContentZh">中文翻译：{{row.raw?.content?.tranContentZh}}</div>
            <div *ngIf="row.raw?.content?.star">评星{{row.raw?.content?.star}}</div>
          </div>
        </template>
      </ngx-datatable-row-detail>
      <!-- Column Templates -->
      <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
        <template let-row="row" ngx-datatable-cell-template>
          <a [class.icon-right]="!row.$$expanded" [class.icon-down]="row.$$expanded" title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
          </a>
        </template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="50" [resizeable]="false" [canAutoResize]="false" name="编号" prop="id">
        <template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="450" [canAutoResize]="false" name="主题" prop="subject">
        <template let-row="row" ngx-datatable-cell-template>
          <a [routerLink]="['/complaintlist/complaintdetail', row.raw.orgin,row._id]"> {{row.subject}}</a>
        </template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="130" [resizeable]="false" [canAutoResize]="false" name="评星" prop="star">
        <template let-value="value" ngx-datatable-cell-template>
          <div class="rating">
            <div class="star{{value}}">
              <span>☆</span>
              <span>☆</span>
              <span>☆</span>
              <span>☆</span>
              <span>☆</span>
            </div>
          </div>
        </template>
      </ngx-datatable-column>
      <ngx-datatable-column name=" " [width]="40" [resizeable]="false" [canAutoResize]="false" prop="orgin" [flexGrow]="1">
        <template let-value="value" ngx-datatable-cell-template>
          <md-icon *ngIf="value=='googlePlay'">android</md-icon>
          <img *ngIf="value=='zendesk'" src="assets/images/zendesk.png" width="24px" height="24px" />
          <img *ngIf="value=='Itunes Connect'" src="assets/images/apple.png " />
          <img *ngIf="value=='fda'" src="assets/images/fda.png " width="24px" height="24px" />
        </template>
      </ngx-datatable-column>
      <ngx-datatable-column name=" " prop="appname" [width]="50" [resizeable]="false" [canAutoResize]="false">
        <template let-value="value" ngx-datatable-cell-template>

          <img *ngIf="value=='MyVitals'" src="assets/images/myvitals.png" width="24px" height="24px" />
          <img *ngIf="value=='GlucoSmart'" src="assets/images/gluco.png" width="24px" height="24px" />
        </template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="50" [resizeable]="false" [canAutoResize]="false" name="区域" prop="belong">
        <template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </template>
      </ngx-datatable-column>
      <ngx-datatable-column name="操作" prop="raw" [flexGrow]="1">
        <template let-value="value " ngx-datatable-cell-template>
          <button *ngIf="value.isSendShow " color='primary' md-mini-fab md-no-ink (click)="openRedmineDialog(value)
            " class="md-primary " mdTooltip="发送到redmine "><md-icon>send</md-icon></button>
          <button *ngIf="value.isIgnoreShow " color='primary' md-mini-fab md-no-ink (click)="openIgnoreDialog(value,3)
            " class="md-primary " mdTooltip="忽略 "><md-icon>delete</md-icon></button>
          <button *ngIf="value.isFollowShow " color='primary' md-mini-fab md-no-ink (click)="openIgnoreDialog(value,4)
            " class="md-primary " mdTooltip="需跟进 "><md-icon>help</md-icon></button>
          <button *ngIf="value.isGoodShow " color='primary' md-mini-fab md-no-ink (click)="goodComplaint(value)
            " class="md-primary " mdTooltip="好评 "><md-icon>thumb_up</md-icon></button>
          <button *ngIf="value.isReductionShow " color='primary' md-mini-fab md-no-ink (click)="reductionIgnore(value)
            " class="md-primary " mdTooltip="还原 "><md-icon>restore</md-icon></button>
        </template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <div class="list-card-content ">
    <div class="list-pagebutton ">
      <div> <button class="list-button-pre " color='primary' (click)='onPageUp()' md-mini-fab><md-icon>arrow_back</md-icon></button></div>
      <div style="padding:10px 10px; "> {{offset+1}}/{{pagecount}}</div>
      <div><button color='list-button-next' color='primary' (click)='onPageDown()' md-mini-fab><md-icon>arrow_forward</md-icon></button></div>
    </div>
  </div>
</div>