    .alllist-header {
      height: 96px;
      background-color: #3f51b5;
    }
    
    .alllist-header h1 {
      font-size: 30px;
      font-weight: 300;
      margin: 0;
      padding-top: 40px;
      padding-left: 30px;
      color: #FFF;
    }
    
    .list-card-content {
      display: block;
      height: 36px;
      width: 100%;
      padding: 5px;
      background-color: #FFF;
    }
    
    .list-pagebutton {
      display: block;
      float: right;
      width: 150px;
      margin-right: 40px;
    }
    /*查询条件*/
    
    .query-container {
      width: 100%;
      margin: 0 auto;
      background-color: #3f51b5;
      color: white;
    }
    
    .box {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 10px;
      padding: 5px;
    }
    
    ol {
      list-style: none;
      padding: 10px 0;
    }
    
    .inner-list ol li {
      display: block;
      float: left;
      width: 30%;
      padding: 5px 0;
    }
    
    .title {
      font-size: 18px;
      padding: 7px 3px;
      background-color: #3f51b5;
      color: #ffffff;
    }
    
    .inner-content {
      clear: both;
      padding-top: 5px;
    }
    
    .inner-content p {
      line-height: 1.4em;
      padding-top: 8px;
    }
    
    .md-select-trigger {
      color: rgba(225, 225, 0, 0.38);
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    
    a:link {
      text-decoration: none;
      color: black;
    }
    
    a:active {
      text-decoration: none;
      color: black;
    }
    
    a:hover {
      text-decoration: none;
      color: black;
    }
    
    a:visited {
      text-decoration: none;
      color: black;
    }