 * {
   padding: 0;
   margin: 0;
   font-size: 16px;
   color: #333333;
 }

 .container {
   width: 100%;
   height: 100%;
   margin: 0 auto;
   padding-top: 20px;
 }

 .box {
   width: 90%;
   margin: 5px auto;
   padding: 13px
 }

 ol {
   list-style: none;
   padding: 10px 0;
 }

 .inner-list ol li {
   display: block;
   float: left;
   width: 30%;
   padding: 5px 0;
 }

 .button-list ol li {
   display: inline-block;
   padding: 5px 20px;
 }

 .button-list ol li button {
   padding: 0 8px;
 }

 .title {
   font-size: 18px;
   padding: 7px 3px;
   background-color: #3f51b5;
   color: #ffffff;
 }

 .inner-content {
   clear: both;
   padding-top: 5px;
 }

 .inner-content p {
   line-height: 1.4em;
   padding-top: 8px;
 }
 /*评星显示*/

 .star1 s1 {
   content: "\2605";
   color: #3f51b5;
   position: absolute;
 }

 .star2 s1,
 s2 {
   content: "\2605";
   color: #3f51b5;
   position: absolute;
 }

 .star3 s1,
 s2,
 s3 {
   content: "\2605";
   color: #3f51b5;
   position: absolute;
 }

 .star4 s1,
 s2,
 s3,
 s4 {
   content: "\2605";
   color: #3f51b5;
   position: absolute;
 }

 .star5 s1,
 s2,
 s3,
 s4,
 s5 {
   content: "\2605";
   color: #3f51b5;
   position: absolute;
 }
 /*.rating>span:hover:before,
    .rating>span:hover~span:before {
      content: "\2605";
      position: absolute;
    }*/