<div class="dialog-content">
  <div clsss="container">
    <div class="content">
      <div class="box">
        <div class="title">应用信息</div>
        <div class="inner-list">
          <ol>
            <li>应用名：{{complaint==null?'':complaint.appName}}</li>
            <li>版本：{{complaint==null?'':complaint.appVersion}}</li>
            <li>来源：{{complaint==null?'':complaint.orgin}}</li>
          </ol>
        </div>
      </div>
      <div class="box">
        <div class="title">评论信息</div>
        <div class="inner-list">
          <ol>
            <li>所属地区：{{complaint?.lang}}</li>
            <li>评论日期：{{complaint?.rewDate}}</li>
            <li>评星：{{complaint?.content.star}}</li>
          </ol>
          <div class="inner-content">
            <p *ngIf="complaint?.content.rewTitle">评论主题：{{complaint?.content.rewTitle}}</p>
            <p *ngIf="complaint?.content.rewContent">评论内容：{{complaint?.content.rewContent}}</p>
            <p *ngIf="complaint?.content.tranContent">英文翻译：{{complaint?.content.tranContent}}</p>
            <p *ngIf="complaint?.content.tranContentZh">中文翻译：{{complaint?.content.tranContentZh}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="complaint?.redmineMsg" class="box">
        <div class="title">redmine信息</div>
        <div class="inner-list">
          <ol>
            <li>跟踪标签：{{complaint?.redmineMsg?.tracker.name}}</li>
            <li>状态：{{complaint?.redmineMsg?.status.name}}</li>
            <li>开始时间：{{complaint?.redmineMsg?.created_on}}</li>
            <li>优先级：{{complaint?.redmineMsg?.priority.name}}</li>
            <li>指派给：{{complaint?.redmineMsg?.assigned_to.name}}</li>
            <li>%完成：{{complaint?.redmineMsg?.done_ratio}}</li>
            <li>客诉时间：{{complaint?.redmineMsg?.custom_fields[0].value}}</li>
            <li>客诉接收时间：{{complaint?.redmineMsg?.custom_fields[1].value}}</li>
            <li>客诉来源：{{complaint?.redmineMsg?.custom_fields[2].value}}</li>
            <li>客诉产品型号：{{complaint?.redmineMsg?.custom_fields[3].value}}</li>
            <li>客诉处理部门：{{complaint?.redmineMsg?.custom_fields[4].value}}</li>
            <li>APP版本：{{complaint?.redmineMsg?.custom_fields[5].value}}</li>
            <li>地区：{{complaint?.redmineMsg?.custom_fields[17].value}}</li>
            <li>版本：{{complaint?.redmineMsg?.custom_fields[19].value}}</li>
            <li>原始id：{{complaint?.redmineMsg?.custom_fields[23].value}}</li>
          </ol>
        </div>
      </div>
      <div *ngIf="complaint?.ingnoreRes" class="box">
        <div class="title">忽略原因</div>
        <div class="inner-list">
          <ol>
            <li>{{complaint?.ingnoreRes}}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>