<div class="alllist-header">
  <h1>{{title}}</h1>
</div>
<div class="query-container">
  <div class="box">
    <form [formGroup]="searchForm">
      <div class="inner-list">
        <ol>
          <li>
            <md-select class="md-select" color="primary" placeholder="来源" formControlName="orgin">
              <md-option *ngFor="let orgin of orgins" [value]="orgin.value">
                {{orgin.viewValue}}
              </md-option>
            </md-select>
          </li>
          <li>
            <md-select class="md-select" color="primary" placeholder="应用" formControlName="app">
              <md-option *ngFor="let app of apps" [value]="app.value">
                {{app.viewValue}}
              </md-option>
            </md-select>
          </li>
          <li>来源：{{complaint==null?'':complaint.orgin}}</li>
        </ol>
      </div>
    </form>
  </div>
</div>
<div class="list">
  <ngx-datatable class="material expandable" [columnMode]="'flex'" [loadingIndicator]="loadingIndicator" [headerHeight]="50"
    [footerHeight]="0" [rowHeight]="60" [rows]="complaintsDisplay">
    <!-- Row Detail Template -->
    <!--<ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
      <ng-template let-row="row" ngx-datatable-row-detail-template>
        <div style="padding-left:35px;">
          <div><strong>详细信息</strong></div>
          <div>{{row.raw.content.rewContent}}}</div>
        </div>
      </ng-template>
    </ngx-datatable-row-detail>-->
    <ngx-datatable-column name="编号" prop="id" [flexGrow]="1">
      <template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </template>
    </ngx-datatable-column>
    <ngx-datatable-column name="主题" prop="subject" [flexGrow]="1">
      <template let-row="row" ngx-datatable-cell-template>
        <a [routerLink]="['/complaintdetail', row._id]"> {{row.subject}}</a>
      </template>
    </ngx-datatable-column>
    <ngx-datatable-column name="来源" prop="orgin" [flexGrow]="1">
      <template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </template>
    </ngx-datatable-column>
    <ngx-datatable-column name="应用" prop="appname" [flexGrow]="1">
      <template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </template>
    </ngx-datatable-column>
    <ngx-datatable-column name="操作" prop="raw" [flexGrow]="1">
      <template let-value="value" ngx-datatable-cell-template>
        <button *ngIf="value.isSendShow" color='primary' md-mini-fab md-no-ink (click)="openRedmineDialog(value)" class="md-primary"><md-icon>send</md-icon></button>
        <button *ngIf="value.isIgnoreShow" color='primary' md-mini-fab md-no-ink (click)="openIgnoreDialog(value)" class="md-primary"><md-icon>delete</md-icon></button>
        <button *ngIf="value.isReductionShow" color='primary' md-mini-fab md-no-ink (click)="reductionIgnore(value)" class="md-primary"><md-icon>restore</md-icon></button>
      </template>
    </ngx-datatable-column>
  </ngx-datatable>
  <div class="list-card-content">
    <div class="list-pagebutton">
      <button class="list-button-pre" color='primary' (click)='onPageUp()' md-mini-fab><md-icon>arrow_back</md-icon></button>
      <button color='list-button-next' color='primary' (click)='onPageDown()' md-mini-fab><md-icon>arrow_forward</md-icon></button>
    </div>
  </div>
</div>