<div class="dialog-content" style="width: 600px;height: 120px;top:0px;">
    <form (submit)="!disableButton && submit()">
        <md-input-container class="input-full-width" style="width: 100%">
            <input #res mdInput placeholder="密码" type="password" name="password" [(ngModel)]="password">
        </md-input-container>
        <div class="input-full-width" style="width: 100%">
            <div class="dialog-send-button" style="float: right;">
                <button md-raised-button md-no-ink (click)="addUser()" [disabled]="disableButton" type="submit" color='primary' class="md-primary">更新</button>

            </div>
        </div>
    </form>
</div>